@charset "utf-8";

/* reset */

*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none; color: inherit;}
li, ul, ol{list-style: none;}

body{
    background-color: #f2f2f2;
    color: white;
    font-family: Arial, "고딕",  Helvetica, sans-serif; 
    font-size: 16px;
}

#wrap{
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    background-color: indigo;
    position: relative;
}

/* header */

#header{
    height: 100px;
    background-color: deepskyblue;
}

.logo{
    float: left;
    width: 200px;
    height: 100px;
    /* border: 1px solid black; */
    padding-top: 30px; 
    /* 100-40 / 2 */
}

.logo a{}

.logo a img{}

.nav{
    float: right;
    margin-top: 50px;
    margin-right: 20px;
}

.main{

}

.main > li{
    float: left;
    position: relative;
}

.main > li > a{
    display: block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: indigo;
    font-size: 18px;
    font-weight: bold;
    color:white;
}

.main > li:hover > a{
    background-color: #5b9bd5;
}

.sub{
    position: absolute;
    left: 0;top: 50px;
    width: 100%;
    z-index: 11;
    display: none;
}

.sub li{

}

.sub li a{
    display: block;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    font-weight: 800;
    background-color: #5b9bd5;
}

.sub li a:hover{
    background-color: indigo;
}

.sub_bg{
    width: 1200px;
    height: 140px;
    position: absolute;
    top: 100px;
    left: 0;
    background: #5b9bd5;
    z-index: 10;
    display: none;
}


/* container */

#container{
    height: 500px;
    background-color: lightgray;
}



/* fade, view */

.view{
    height: 300px;

}

.fade{
    height: 300px;
    position: relative;
}

.fade li{
    width: 100px;
    height: 300px;
    position: absolute;
}

.contents{}

.contents > div{
    width: 400px;
    height: 200px;
    float: left;
}

.contents h2{
    width: 100px;
    height: 35px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    line-height: 35px;
    background-color: cadetblue;
    border-radius: 10px 10px 0 0;
}

.contents ul{
    width: 100%;
    height: 165px;
    background-color: red;
    border-radius: 0 10px 10px;
    padding: 10px;
}

.notice{}
.notice ul{}
.notice ul li{
    height: 36px;
    line-height: 36px;
    border-bottom: 1px dotted white;
}
.notice ul li a{
    float: left;
    width: 75%; 

    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.notice ul li span{
    float: right;
}

.gallery{}
.gallery ul{}
.gallery ul li{
    display: inline-block;
}
.gallery ul a{}
.gallery ul a img{
    opacity: 0.8;
}

.gallery ul a img:hover{
    opacity: 0.8;
    transition: all 0.3s;
}

.baro{}
.baro p{
    height: 165px;
    background-color: red;
    
}
.baro p a{}
.baro p a{}
.baro p a img{}



/* footer */

#footer{
    height: 100px;
    background-color: navy;
}